/web/bundles/
/app/bootstrap.php.cache
/app/cache
/app/config/parameters.yml
/app/logs/*
/app/KunstmaanExtraPageController.php
!app/cache/.gitkeep
!app/logs/.gitkeep

/vendor/

/web/uploads
/web/assets
.idea