{% if object.generic %}<span class="label label-default">generic</span>{% else %}
<img src="https://cartoon-battle.narzekasz.pl/icons/ipicon_{{ object.prefix }}.png" alt="{{ object.name }}">
{% endif %}
