<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ farming.user.name }}’s Farming Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style type="text/css">
    pre { background-color: black; color: white; padding: 1em; }
    pre error { background-color: #A00; color: white; }
    pre info { color: #0A0; }
    pre comment { color: #AC0 }

</style>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">{{ farming.user.name }}’s Farming Results</h1>
    </div>

    <ul class="list-unstyled">
        {% for log in farming.logs|slice(0, 25) %}
            <li>
                <h2>{{ log.createdAt|date('Y-m-d H:i:s') }}</h2>
                <pre><code>{{ log.content|raw }}</code></pre>
            </li>
        {% endfor %}

    </ul>

</div>
</body>
</html>
